
html {
    /*font-size: 16px default*/
}
body {
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(233, 233, 233);
}

.container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    height: 100vh;
}

.card {
    width: 30%;
    height: 300px;
    margin: 0 auto;
    background: white;
    border-radius: 1em;
    padding: 0 2em;
    font-size: 20px;
}

.card1 h1 {
    font-size: 2em;
}
.card1 p {
    font-size: 1em;
}

.card2 h1 {
    font-size: 2rem;
}

.card2 p {
    font-size: 1rem;
}