html {
    font-size: 62.5%;
}
body {
    margin: 0;
    background-color: #1F2023;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    margin: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li, p, a {
    font-size: 1.6rem;
}
a {
    color: var(--link-color);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
p {
    font-size: 1.6em;
}

svg {
    width: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Utils */ 

.hide-mobile {
    display: none;
}

@media only screen and (min-width: 620px) {

    .hide-tablet {
        display: none;
    }

}
