@use 'variables';
@use 'global';

/* Header */

header.primary {
    display: flex;
    justify-content: space-between;
}

header svg {
    width: 42px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2em;
}

header.primary, .user {
    display: flex;
    gap: 1em;
    align-items: center;
}

.user img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

a.logo img {
    width: 170px;
}

/* Mobile Menu */

aside {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100vh;
    background: var(--primary-color);
    width: 40%;
    padding: 3em;
    text-align: right;
    transition: transform .6s;
    transform: translateX(100%);

    a {
        color: white;
        font-size: 2.6rem;
    }

    img {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: .3em;
        cursor: pointer;
    }

    ul {
        margin-top: 6em;

        li {
            margin-bottom: 1.5em;
        }
    }
}

.toggle-menu {
    transform: translateX(0);
}

/* Sales Stats */ 

.sales, .extra-stats {
    padding: 3.8em;
    color: white;
    border-radius: 1em;
    margin-top: 2em;
}

.sales {
    background: var(--primary-color);
    position: relative;

    h2 {
        font-size: 6.4rem;
        margin: 0;
    }

    .label {
        display: flex;
        align-items: baseline;
        gap: .5em;
    }

    img {
        position: absolute;
        bottom: -45px;
        right: -5px;
        width: 300px;
    }

}

.subtitle {
    text-transform: uppercase;
    font-size: 1.6rem;
}


/* Extra Stats */ 

.extra-stats {
    padding: 3.8em 0;
}

.extra-stats ul {
    display: flex;
    justify-content: space-between;
    

    strong {
        font-size: 2.6rem;
        margin-bottom: .2em;
        display: block;
    }
}

/* Earnings and Visitors */ 

h1 {
    color: white;
    font-size: 2.6rem;
}

.chart-container {
    background: var(--secondary-color);
    border-radius: 1em;
    padding: 2.8em;
}

/* Customers */

.customers ul {
    display: grid;
    margin-top: 2em;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    color: white; 

    li {
        display: flex;
        justify-content: space-between;

        .cta-btn img {
            width: 50px;
            height: 50px;
            padding: 1em;
            background: var(--secondary-color);
            border-radius: .3em;
        }
    }

    .user-left {
        display: flex;
        align-items: center;
        gap: 1em;

        img {
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%;
        }  
    }

    .user-info strong {
        display: block;
    }
}



/* Tablet */ 

@media only screen and (min-width: 620px) {

    .signout {
        display: block;
        padding: .7em;
        background-color: var(--secondary-color);
        border-radius: .3em;
    }

    .header-right nav {
        display: flex;
        align-items: center;
        gap: 2em;
    }

    aside {
        position: inherit;
        height: auto;
        background: unset;
        width: auto;
        padding: 2em;
        margin-top: 2em;
        text-align: inherit;
        transform: unset;
        transition: unset;
        background-color: var(--secondary-color);
        border-radius: 1em;

        a {
            font-size: 1.8rem;
        }
    
        img {
            background: unset;
            cursor: unset;
        }

    
        nav ul {
            margin-top: 0;
            display: flex;
            justify-content: space-around;
    
            li {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                gap: .5em;

                img {
                    display: block !important;
                }
            }
        }
        
    }



    /* Main Area */

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 3em;
    }

    .earnings, .customers {
        grid-column: 1 /3;
    }

    .extra-stats ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2em;
    }

}


/* Desktop */ 

@media only screen and (min-width: 1000px) {

    .wrapper {
        max-width: 1200px;
        margin: 3em auto;
        padding: 0 2em;
    }

    .col2 {
        display: flex;
        gap: 2em;
    }

    aside {
        width: 10%;
        flex-grow: 3;
        min-width:250px;
        padding: 2em;

        nav {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
        }

        nav ul {
            justify-content: space-around;
            flex-direction: column;
            gap: 2em;
    
            li {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                gap: .5em;

                img {
                    display: block !important;
                }
            }
        }
    }

    /* Main Area */

    main {
        grid-template-columns: 1.2fr 2fr;
        grid-template-rows: repeat(3, auto);
        gap: 3em;
        flex-grow: 2;
    }

    .extra-stats {
        padding: 3em;
        display: flex;
        justify-content: center;
        border: 1px solid var(--border-color);
    }

    .extra-stats ul {
        display: flex;
        align-items: center;
        gap: 5em;
    }

    .premium {
        display: block;
        background: var(--inner-panel-color);
        padding: 2em;
        color: white;
        border-radius: .3em;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: 1.6rem;
                margin: 0;
            }

            img {
                width: 20px;
            }

        }
        p {
            line-height: 150%;
        }
    }


}