:root {
    --primary-color: #7E00FD;
}

html {font-size: 62.5%;}

p, a {font-size: 1.8rem;}
a {text-decoration: none;}
ul {list-style-type:none;margin:0;padding:0;}
.header-cta, .arrow {display: none;}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    margin: 2.6em;
}

a.logo {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.8rem;
}

header ul {
    display: flex;
    gap: 2.2em;
}
header ul li a {
    color: black;
}
a.active {
    text-decoration: underline;
}

/* Hero Section */

section.hero {
    text-align: center;
}

h1 {
    font-size: 3.2rem;
    margin-top: 2em;
    margin-bottom: .5em;
}

p.subhead {
    font-size: 2rem;
}

.cta-btns {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 3em;
}

.phone {
    width: 90%;
    margin-top: 5em;
    position: relative;
    z-index: 2;
}

/* Features Section */

section.features {
    background: #7E00FD;
    color: white;
    transform: skewY(12deg) translateY(-8em); /* SKEW */
}

section.features .wrapper {
    transform: skewY(-12deg); /* UN-SKEW */
}

section.features .wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 5em 0 10em;
}

section.features svg {
    width: 3.5rem;
    margin-left: -.15em;
}

section.features strong {
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
    gap: .2em;
}

/* Testimonials Section */

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.8rem;
    font-weight: 300;
}

.author-pic {
    width: 100%;
    border-radius: 1.2em;
    height: 17.7em;
    object-fit: cover;
    margin-bottom: 2em;
}

.testimonial-quote p {
    margin-bottom: 2em;
}

.author strong {
    display: block;
    font-size: 2rem;
}
.author a {
    color: black;
}
ul.social-nav {
    display: flex;
    gap: 1em;
    margin-top: 2em;

}
ul.social-nav svg {
    width: 3rem;
}


/* Footer Section */

footer {
    background: #EDEDED;
    padding: 1.6em 0;
    margin-top: 5em;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: black;
}

nav.footer-nav ul, nav.secondary-nav ul {
    display: flex;
    gap: 2em;
}

nav.footer-nav ul {
    justify-content: right;
}

nav.secondary-nav ul {
    margin-top: 4em;
}

nav.secondary-nav ul li a {
    color: #363636;
    text-decoration: underline;
    font-size: 1.4rem;
}

/* Media Queries -- Tablet */

@media only screen and (min-width: 700px) {
    .header-cta {
        display: inherit;
        color: white;
        font-size: 1.6rem;
        font-weight: bold;
        background-color: var(--primary-color);
        padding: .5em .7em;
        border-radius: .3em;
    }
    .hero .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 3em;
    }
    section.hero {
        text-align: left;
    }
    h1 {
        font-size: 5.1rem;
        line-height: 110%;
    }
    .cta-btns {
        justify-content: left;
    }
    .phone {
        position: absolute;
        width: 500px;
        left: 0;
    }
    .hero .right-col {
        position: relative;
        width: 500px;
        height: 600px;
        overflow: hidden;
    }


    /* Features Section */

    section.features {
        transform: skewY(7deg) translateY(-8em); /* SKEW */
        position: relative;
    }
    section.features .wrapper {
        transform: skewY(-7deg); /* UN-SKEW */
    }

    section.features:before {
        content: '';
        position: absolute;
        background: url('../assets/graphic.svg') no-repeat;
        width: 205px;
        height: 80px;
        bottom: -30px;
        left: 10%;
    }

    section.features .wrapper ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 7em 0 12em;
    }

    section.features .wrapper ul li:last-of-type {
        grid-column: 1/3;
    }



    /* Testimonials Section */

    .testimonial-info {
        display: flex;
        gap: 2em;
    }
    .author-pic, .author {
        flex: 1;
    }
    .author-pic {
        margin: 0;
    }

    .author {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

/* Media Queries -- Desktop */

@media only screen and (min-width: 950px) {
    .wrapper {
        max-width: 1000px;
        margin: 2em auto;
    }

    .phone {
        position: absolute;
        width: 500px;
        left: -100px;
    }
    .hero .right-col {
        position: relative;
        width: 500px;
        height: 600px;
        overflow: inherit;
    }

    /* Features Section */

    section.features .wrapper ul {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        height: 300px;
    }

    section.features .wrapper ul li:last-of-type {
        grid-column: auto;
        align-self: end;
    }

    section.features .wrapper ul li:nth-of-type(2) {
        align-self: center;
    }

    section.features:before {
        left: 20%;
    }

    /* Testimonials Section */

    .testimonial {
        display: flex;
        gap: 4em;
        margin: 12em 0;
    }
    .testimonial-quote, .testimonial-info {
        flex: 1;
    }

    .testimonial h2 {
        margin-top: 0;
    }

}
