html {
    font-size: 62.5%;
}

body {
    font-family: "Playfair Display";
    margin: 12em;
}

h1 {
    font-size: 3.2rem;
    font-weight: normal;
    margin-bottom: 6.8rem;
}

span {
    color: #07801E;
}

.container {
    display: flex;
    gap: 2em;
    width: 100%;
    height: 400px;
    
}

img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 1em;
}

.second {
    flex-grow: 2;
}