:root {
    --primary-color: #7E00FD;
}

html {font-size: 62.5%;}

p, a {font-size: 1.8rem;}
a {text-decoration: none;}
ul {list-style-type:none;margin:0;padding:0;}
.header-cta, .arrow {display: none;}
.wrapper { margin: 2.6em; }

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

