html {
    font-size: 62.5%;
}

body {
    background: #DAE0EA;
    font-family: 'Inter';
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 1em;
}

section {
    display: flex;
    width: 1000px;
    margin: 20em auto;
    position: relative;
}
section:before {
    position: absolute;
    content: '';
    top: 0;
    left: -50px;
    width: 150px;
    height: 150px;
    background: #C7D0E0;
    border-radius: .5em;
    z-index: -1;
}

.leftcol {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightcol {
    flex: 1;
    display: grid;
    grid-template-areas:
        "primary ."
        "primary .";
    gap: 2.3rem;
}

.primary {
    grid-area: primary;
}

h1 {
    font-size: 4.3rem;
    margin-top: 1.7em;
}

p {
    font-size: 2.2rem;
}

a.cta {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    gap: 1em;
    background: #1A63DD;
    color: white;
    text-decoration: none;
    padding: 1.3em;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: .25em;
}